<link rel='stylesheet' href='/css/index.css'>
{{#partial "content"}}
    {{#if editHero}}
        <h1>Edit this Hero!</h1>
        <form action="/heroes/{hero.id}}" method="post">
            <br>
            <label for="description">Edit this hero's name.</label>
            <input id="description" name="description" type="text" value="{{hero.description}}">
            <br>
            <label for="squadId">Update this hero's squad:</label>
            <select id="squadId" name="squadId">
                {{#each squads}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <p>Don't see the right squad?<a href="/squads/new">Add a new one first.</a></p>
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    {{else}}
        <h2>Deploy new hero to Squad</h2>
        <form action="/heroes" method="post">
            {{#if squads}}
                <label for="description">Hero:</label>
                <input id="description" name="description" type="text">
                <br>
                <label for="description">Age:</label>
                <input id="description" name="description" type="text">
                <br>
                <label for="description">Strength:</label>
                <input id="description" name="description" type="text">
                <br>
                <label for="description">Weakness:</label>
                <input id="description" name="description" type="text">
                <br>
                <label for="squadId">Assign Hero to Squad:</label>
                <select id="squadId" name="squadId">
                    {{#each squads}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <p>Missing squad?<a href="/squads/new">Add a new one first.</a></p>
            {{else}}
                <h3>Recruit a team of Superheroes committed to one cause! <a href="/squads/new">Add one here.</a> </h3>
            {{/if}}
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}