<link rel='stylesheet' href='/css/index.css'>
{{#partial "content"}}
    <h1>{{squad.name}}</h1>
    <p>Heroes in this Squad:</p>
    <ul>
        {{#each heroes}}
            <li>
                <p><a href="/squads/{{squad.id}}/heroes/{{hero.id}}">{{description}}</a></p>
            </li>
        {{/each}}
    </ul>
    <a href="/squads/{{squad.id}}/edit">Edit this squad.</a><br>
    <a href="/squads/{{squad.id}}/delete">DELETE this squad</a>
{{/partial}}

{{> layout.hbs}}